<table data-bind="style: { backgroundColor: bgColor, border: border, height: height, width: width }">
    <tr>
        <td class="l-container" data-bind="style: { backgroundColor: bgColor, border: border, height: height, width: widthCol1 }">
            <ul class="connectedSortable unstyled">
                <span>Drop here an element!</span>
            </ul>
        </td>
        <td class="l-container" data-bind="style: { backgroundColor: bgColor, border: border, height: height, width: widthCol2 }">
            <ul class="connectedSortable unstyled">
                <span>Drop here an element!</span>
            </ul>
        </td>


    </tr>
</table>
