.show-grid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-grid [class*="span"] {
    background-color: #EEE;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    line-height: 30px;
}

#editor-area {
    border: 1px solid #a9a9a9;
}
.droppable-active {
    border: 1px solid blue;
    background-color: blue;
}
.ui-selected {
    background: #F39814;
    color: white;
}

.toolbar-element {
    padding-left: 20px;
    margin-bottom: 5px;
}
.toolbox > div.t-container > div.title {
    margin-top: 5px;
    margin-bottom: 5px;
}