
#editor-area {
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.droppable-active {
    border: 1px solid blue !important;
}

.toolbox {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.toolbox > div > h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

